extends layout/app
block var
    - let page_title = "Home";
block content 
    .start 
        .start__content 
            .start__author 
                span Furkat Vokhidov 
            .start__name 
                h1 Gulp starter 
            .start__social 
                a(href="https://t.me/@crazy_programmer")
                    i.fa-brands.fa-telegram
                a(href="https://github.com/crazy_programmer")
                    i.fa-brands.fa-github
                a(href="https://instagram.com/boring_dude__")
                    i.fa-brands.fa-instagram